.saree-con{
    padding: 2rem;
    /* border: 1px solid black; */
}
.saree-con h1{
    font-family: Sail;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(206, 0, 17, 1);

}
.saree-con p{
    font-family: Saira;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    padding: 1rem;

}
.sare-section{
    /* border: 1px solid green; */
    padding: 3rem 0rem;
    display: grid;
    grid-template-columns:  100%;
}
.sare-section div{
    /* border: 1px solid black; */
}
.sare-main-con{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 2rem;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    height: auto;
}
.sare-main-con p{
    padding: 0px;
}
.sare-image{
    width: 15rem;
    height: 15rem;
    /* border: 1px solid black; */
}
.sarename{
    font-family: Saira;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0rem;
    /* border: 1px solid black; */
    padding: 0px;
}
.sareprice{
    /* border: 1px solid black; */
    margin: 0px;
    padding: 0px;
    font-family: Saira;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}


@media screen and (min-width: 360px) and (max-width: 600px) {
    .saree-con{
        padding: 1rem;
        border: 1px solid black;
    }
    .saree-con h1{
        font-family: Sail;
        font-size: 34px;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(206, 0, 17, 1);
    
    }
    .saree-con p{
        font-family: Saira;
        font-size: 20px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0.5rem;
    
    }
    .sare-section{
        /* border: 1px solid green; */
        padding: 1.5rem 0rem;
        display: flex;
        flex-direction: column;
    }
    .sare-section div{
        /* border: 1px solid black; */
    }
    .sare-main-con{
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 0.5rem;
        justify-content: space-evenly;
        /* border: 1px solid black; */
        height: auto;
    }
    .sare-main-con p{
        padding: 0px;
    }
    .sare-image{
        width:10rem;
        height: 10rem;
        /* border: 1px solid black; */
    }
    .sarename{
        font-family: Saira;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0rem;
        /* border: 1px solid black; */
        padding: 0px;
    }
    .sareprice{
        /* border: 1px solid black; */
        margin: 0px;
        padding: 0px;
        font-family: Saira;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;

    }
    
}