.navbar-con{
    height: 3rem;
    /* border: 1px solid black; */
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding:1rem 0rem;
}
.navbar-con p{
    font-family: Saira;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-top: 1rem
}
.navbar-con p:hover{
    cursor: pointer;
}