.admincustomer{
    /* border: 1px solid green; */
}
.admincustomer div{
    /* border: 1px solid black; */
    padding: 2.5rem 2rem;
  

}
.admincustomer h1{
    font-family: Saira;
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}
.customer-sub-details{
    width: 22rem;
    height: 4rem;
    /* border: 1px solid black; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(246, 246, 246, 1);
    box-shadow: 0px 2.241666555404663px 2.241666555404663px 0px rgba(0, 0, 0, 0.25);


}
.dotsimg{
    align-self: initial;
    height: 1.5rem;
}
.customer-content{
    display: flex;
    flex-direction: column;
}
.customer-content p{
    margin: 0px;
    padding: 0px;
}
.date{
    font-family: Saira;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: left;

}
.admincustomer-details{
    display: flex;
    justify-content: space-evenly;
    row-gap: 2rem;
    column-gap: 2rem;
    flex-wrap: wrap;
}
.Old-Customer{
    /* border: 1px solid black; */
}